{% extends 'base.html' %}

{% block  extra_head %}
<title>Регистрация</title>
{% endblock %}
{% block content %}

<div class="d-flex h-100 bg-light">
    <form class="container-fluid m-auto bg-white p-5 border round" method="POST" style="max-width: 30rem;">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="first_name" name="first_name" required>
            <label for="first_name">Имя*</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="last_name" name="last_name" required>
            <label for="last_name">Фамилия*</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="middle_name" name="middle_name">
            <label for="middle_name">Отчество</label>
        </div>

        <div class="form-floating mb-5">
            <input autocomplete="off" type="text" class="form-control" name="login" id="login"
                value="{{ request.form.login }}" required>
            <label for="login">Логин*</label>
        </div>
    
        <div class="form-floating mb-3">
            <input type="password" class="form-control" id="password" name="password" required>
            <label for="password">Пароль*</label>
        </div>

        <div class="form-floating mb-3">
            <input type="password" class="form-control" id="passwordAgain" name="passwordAgain" required>
            <label for="password">Повторите пароль*</label>
        </div>
    
        <button type="submit" class="btn btn-primary w-100">Зарегистрироваться</button>
    </form>

</div>
{% endblock %}