{% extends 'base.html' %}
{% from 'pagination.html' import pagination %}
{% from 'show_setup_macro.html' import show_setup with context %}



{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='style/main.css') }}">
  <div class="container">
    <div class="my-3 border border-1 rounded-2 bg-light">
      <form action="">
        <div class="row p-2">
          <div class="col-md-4">
            <label for="car">Автомобиль</label>
            <select class="form-select" id="car" name="car">
              {% if cars %}
              {% set car_id = search_params.get('car_id') | int %}
                <option value="default" class="">Не выбрано</option>
                {% for car in cars %}
                  <option value="{{ car.id }}" class="" {% if car_id == car.id %} selected {% endif %}>{{ car.name }}</option>
                {% endfor %}
              {% endif %}
            </select>
          </div>

          <div class="col-md-4">
            <label for="track">Трасса</label>
            <select class="form-select" id="track" name="track">
              {% if tracks %}
                {% set track_id = search_params.get('track_id') | int %}
                <option value="default" class="">Не выбрано</option>
                {% for track in tracks %}
                  <option value="{{ track.id }}" class="" {% if track_id == track.id %} selected {% endif %}>{{ track.name }}</option>
                {% endfor %}
              {% endif %}
            </select>
          </div>
          <div class="col-md-4">
            <a href="{{ url_for('index') }}" class="btn btn-secondary form-control mb-2">Сброс</a>
            <button class="btn btn-primary form-control" type="submit">Найти</button>
          </div>
        </div>

      </form>
    </div>
    <div class="row my-4">

    {% if setups %}
      {% if current_user.is_authenticated %}
        {% if current_user.is_admin() %}

          {% for setup in setups %}
            {{ show_setup(setup, true) }}
          {% endfor %}

        {% else %}
          {% for setup in setups %}
            {{ show_setup(setup) }}
          {% endfor %}
        {% endif %}
      {% else %}
        {% for setup in setups %}
          {{ show_setup(setup) }}
        {% endfor %}
      {% endif %}
    {% endif %}
    </div>

      </div>

        <div class="container d-flex justify-content-center mt-3">
          {{ pagination(page, page_count, request.endpoint, search_params) }}
        </div>
        {% if current_user.is_authenticated %}
        {% if current_user.is_admin() %}
      {% endif %}
      {% endif %}



      {% if current_user.is_authenticated %}
      <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Удаление книги</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                Вы уверены, что хотите удалить
                "<span class="delete-title"></span>"
                ?
                <form action="" class="d-none" method="POST">
                  <input type="submit" id="submit-delete">
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                <label for="submit-delete" class="btn btn-danger mb-0">Удалить</label>
              </div>
            </div>
          </div>
        </div>
        {% endif %}
      
      
      
      
  <script src="{{ url_for('static', filename='delete.js')}}"></script>

{% endblock %}